body {
    font-family: Inter;
}

.bg-f6 {
    background-color: #F6F6F6;
}
.max-width-100 {
    max-width: 100%;
}

.col-img{
    max-width: inherit; 
}

.h1-grey {
    font-size: 3.5em;
    font-weight: bold;
    color: #3F4242;
}

.color-blue {
    color: #167CD8;
}


/* about me */

.about-me-img {
    width: 100%;
    height: 50vh;
    background-image: url(../img/aboutMe.jpg);
    background-size: cover;
    background-attachment: fixed;
}